@import "mixins.scss";
@import "var.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --body-bg: rgb(34, 34, 34);
    --text-color:rgb(78, 78, 78);
    --main-color:#4fa7da;
    --hover-color:#3a799e;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}

input,
button,
select,
textarea{
    outline: none;
}

html,body{
    height: 100%;
}

body{
    font-family: 'Montserrat';
    font-weight: 400;
    background: var(--body-bg);
}

h1{
    text-align: center;
    padding-top: 50px;
    color:#fff;
}

.player{
    max-height: 70%;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    width: 80%;
    top: 50%;
    transform: translateY(-50%);
    border-radius:20px;
    overflow: hidden;
    box-shadow: 0px 6px 21px 38px rgba(255,0,0,0.21);
    video{
        height: 100%;
        width: 100%;
        background:#000;
    }
    
    .controls{
        width: 100%;
        position: absolute;
        bottom: 0;
        background:rgba($color: #000000, $alpha: 0.4);
        padding: 5px 0;
        &__inner{
            max-width: 70%;
            margin: 0 auto;
            display: flex;
            align-items:center;
            &-play{
                font-size: 20px;
                i{
                    height: 20px;
                    width: 20px;                    
                }
                margin: 0 5px;
            }
            &-fullscreen{
                font-size: 20px;
                margin: 0 5px;
            }
            
        }
        &__sound{
            display: flex;
            align-items:center;
            &-mute{
                font-size: 20px;
                margin: 0 5px;
                width: 21px;
            }
            &-line{
                width: 100px;
                height: 5px;
                background:#fff;
                margin: 0 5px;
                cursor: pointer;
                border-radius:10px;
                position: relative;
                overflow: hidden;
                .line{
                    position: absolute;
                    height: 100%;
                    left: 0;
                    background:red;
                    width: 100%;
                    pointer-events: none;
                }
            }
        }
        &__timeline{
            width: 100%;
            height: 5px;
            background:#fff;
            margin: 0 5px;
            cursor: pointer;
            border-radius:10px;
            position: relative;
            overflow: hidden;
            .line{
                position: absolute;
                height: 100%;
                left: 0;
                background:red;
                width: 0%;
                pointer-events: none;
            }
        }
        &__time{
            color: #fff;
            margin: 0 5px;
        }
        &__playback{
            display:flex;
            align-items:center;
            transition: all .3s;
           
            &-btn{
                margin: 0 3px;
                position: absolute;
                opacity: 0;
                visibility: hidden;
                padding: 3px;
                border-radius:5px;
                transition: all .3s;
                &.active{
                    position: relative;
                    opacity: 1;
                    visibility: visible;
                    background:red;
                    order: -1;
  
                }
                
                &:hover:not(.active){
                    background: rgba($color: #000000, $alpha: 0.7);
                }
            }
            &:hover{
                transition: all .3s;
                button{
                    position: relative;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        
    }
    
    .seek{
        display: flex;
        position: absolute;

        top: 0;
        background:rgba($color: #ff0000, $alpha: 0.5);
        height: 100%;
        width: 15%;
        justify-content: center;
        align-items:center;
        cursor: pointer;
        color: #fff;
        opacity: 0;
        transition: .3s all;
        i{
            margin: 0 5px;
            pointer-events: none;
        }
        span{
            pointer-events: none;
        }
        &-prev{
            left: 0;
        }
        &-next{
            right: 0;
        }
        &:hover{
            opacity: 1;
        }
    }
    
}


button{
    background:0;
    outline: 0;
    border:none;
    color:#fff;
    cursor: pointer;
}